@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200&family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #17a2b8;
}

.wrapper{
    width: 75vw;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    
}

.typing-text p{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.1px;
    word-break: break-all;
}

.content-box .typing-text{
    max-height: 250px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.content-box .content{
    display: flex;
    margin-top: 17px;
    padding: 12px;
    border-top: 1.5px solid #ccc;
    justify-content: space-between;
    align-items: center;
}
.content .result-details{
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}

.result-details li{
    display: flex;
    list-style: none;
    height: 22px;
    align-items: center;
}

.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 600;
}

.result-details li p{
    font-size: 15px;
    padding-bottom: 2px;
}

.result-details li:not(:first-child)
{
    border-left: 1px solid #ccc;
    padding-left: 20px;
} 

.content button{
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #17a2b8;
    transition: transform 0.3s ease;
}
.content button:active{
     transform: scale(0.9);
}
.typing-text p span{
    position: relative;
}

.typing-text p span.correct{
    color: #409637;
    font-weight: 600;
}
.typing-text p span.incorrect{
    color: #cb3439;
    background: #ffc0cb;
    outline: 1px solid #ffc0cb;
    border-radius: 4px;
    margin: 0 1.5px 0 1.5px;
}

.typing-text p span.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    height: 2px;
    width: 100%; 
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}

.wrapper .input-field{
    z-index: -999;
    opacity: 0;
    position: absolute;
}