/* &anirban27 */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
     box-sizing: border-box;
 }
 body{
    background-color: rgb(105, 152, 171);
    font-family: 'Merriweather', serif;
}
.center{   
    text-align: center;
}
.mid2{
    text-align: center;
}
.mid2t{
    width: 450px;
    padding: 10px;
    
}
li{
    list-style-type: none;
    margin: 10px;
}
.backw{
    background-color:rgb(26, 55, 77);
    padding: 20px;
    margin-top: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.imgc {
    display: block;

    margin-left: auto;
    margin-right: auto;
   
  }
.img1{
   width: 100%;
}
